* text eol=lf

*.md  	text eol=lf
*.cs    text eol=lf diff=csharp
*.xaml  text eol=lf
*.xml  	text eol=lf

*.sln       text eol=lf merge=binary
*.csproj    text eol=lf merge=binary
*.vbproj    text eol=lf merge=binary
*.vcxproj   text eol=lf merge=binary
*.vcproj    text eol=lf merge=binary
*.dbproj    text eol=lf merge=binary
*.fsproj    text eol=lf merge=binary
*.lsproj    text eol=lf merge=binary
*.wixproj   text eol=lf merge=binary
*.modelproj text eol=lf merge=binary
*.sqlproj   text eol=lf merge=binary
*.wwaproj   text eol=lf merge=binary

*.dll	binary
*.exe	binary
*.jpg   binary
*.png   binary
*.gif   binary

