* text 		eol=lf

*.md  		text eol=lf
*.cs    	text eol=lf diff=csharp
*.xaml  	text eol=lf
*.axml  	text eol=lf
*.xml  		text eol=lf

*.sln       text eol=lf
*.csproj    text eol=lf
*.vbproj    text eol=lf
*.vcxproj   text eol=lf
*.vcproj    text eol=lf
*.dbproj    text eol=lf
*.fsproj    text eol=lf
*.lsproj    text eol=lf
*.wixproj   text eol=lf
*.modelproj text eol=lf
*.sqlproj   text eol=lf
*.wwaproj   text eol=lf

*.dll		binary
*.exe		binary
*.jpg   	binary
*.png   	binary
*.gif   	binary

