<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="de.milindur.mdkcontrol" android:versionName="0.4-alpha1" android:installLocation="auto" android:versionCode="20">
	<uses-sdk android:minSdkVersion="18" android:targetSdkVersion="18" />
	<application android:label="MDK Control" android:icon="@drawable/ic_launcher" android:theme="@android:style/Theme.Holo">
	</application>
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
</manifest>