<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="de.milindur.mdkcontrol" android:versionName="0.12.0.1304" android:installLocation="auto" android:versionCode="1304">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="22" />
	<application android:label="MDK Control" android:icon="@drawable/ic_launcher" android:theme="@android:style/Theme.Holo"></application>
  <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
  <uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>